<a href="https://colab.research.google.com/github/VinuthaGovindappa/PythonInColaboratory/blob/master/Python_first_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print("hello word!")

hello word!

In [7]:
2 + 5

7

#Here is my first code

In [15]:
l1 = [2, 4, 6, 8, 10]
l2 = [1, 3, 5, 7, 9]

type(l1)
type(l2)

print(l1)
print(l2)
print(l1 + l2)
print(2 * l2)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [54]:
angel = list(range(0, 390, 30))
angel = list(range(0, 361, 30))
print(angel)

i1 = angel.index(90)
print(i1)

i2 = angel.index(270)
print(i2)

print(len(angel))

angel_len = len(angel)

i1_rev = angel_len - i1 - 1

i1_rev = i1 - angel_len

print(i1_rev)

i2_rev = angel_len - i2 - 1

print(i2_rev)

subset = angel[i1: i2+1]

subset.reverse()

print(subset)

subset1 = angel[i1+1: i1_rev+1]

subset1.reverse()

print(subset1)

print(angel[i1_rev:i2_rev:-1])

print(angel[-1])

print(angel[-i1_rev:-i2_rev])

[0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330, 360]
3
9
13
9
3
[270, 240, 210, 180, 150, 120, 90]
[270, 240, 210, 180, 150, 120]
[270, 240, 210, 180, 150, 120]
360
[120, 150, 180, 210, 240, 270]

In [80]:
L1 = [2, 4, 6, 8, 10]

L2 = L1

print(L2)

L2.remove(L2[3])

print(L2)
print(L1)

L3 = L1.copy()

print(L3)


L1 = [2, 4, 6, 8, 10]

L2 = L1.copy()

print(L2)

L2.remove(L2[3])
del(L2[3])

print(L2)
print(L1)

L3 = L1.copy()

print(L3)


L1 = [2, 4, 6, 8, 10]

L2 = L1[:]

print(L2)

L2.remove(L2[3])

print(L2)
print(L1)

L3 = L1.copy()

print(L3)

[2, 4, 6, 8, 10]
[2, 4, 6, 10]
[2, 4, 6, 10]
[2, 4, 6, 10]
[2, 4, 6, 8, 10]
[2, 4, 6]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [77]:
spam_amount = 0

print(spam_amount)

spam_amount = spam_amount + 4

if spam_amount > 0:
  print("But I dont want any Spam!")
  
vinu_spam = "Spam " * spam_amount

print(vinu_spam)

type(spam_amount)

x = 19.05

type(x)

0
But I dont want any Spam!
Spam Spam Spam Spam

float

In [79]:
a = 5
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)

print(a ** b)
print(a // b)
print(-a)

7
3
10
2.5
1
25
2
-5

In [83]:
import numpy as np
import tensorflow as tf
import pytorch

ModuleNotFoundError: ignored

In [97]:
tup1 = ("vinu", "bala", "sujana")
print(tup1)

t1 = (2, 4, 6)
print(t1)

t2 = (8,)
print(t2)

t1 = t1 + (9,)
print(t1)
print(type(t1))

t3 = t1 + t2
print(t3)

del(t3[3])
print(t3)

t3.remove(t3[3])
print(t3)

('vinu', 'bala', 'sujana')
(2, 4, 6)
(8,)
(2, 4, 6, 9)
<class 'tuple'>
(2, 4, 6, 9, 8)

TypeError: ignored

In [104]:
states = {
    'Karnataka' : [52934890, 'Bangalore', True],
    'Bihar' : [2879465, 'Patna', True],
    'Andhra pradesh': [4976354, 'Hyderabad', False],
    'Assam' : [3124553, 'Dispur', False]
}

print(states)

print(states['Bihar'])

states['Telangana'] = [3576354, 'Hyderabad', False]

print(states)

{'Karnataka': [52934890, 'Bangalore', True], 'Bihar': [2879465, 'Patna', True], 'Andhra pradesh': [4976354, 'Hyderabad', False], 'Assam': [3124553, 'Dispur', False]}
[2879465, 'Patna', True]
{'Karnataka': [52934890, 'Bangalore', True], 'Bihar': [2879465, 'Patna', True], 'Andhra pradesh': [4976354, 'Hyderabad', False], 'Assam': [3124553, 'Dispur', False], 'Telangana': [3576354, 'Hyderabad', False]}

In [108]:
-3 + 4 * 2

-3 * 4 + 2

-10

In [112]:
hat_height_cm = 25
my_height_cm = 154

# Calculate total height in meters

total_height_m = hat_height_cm + my_height_cm / 100

total_height_m1 = (hat_height_cm + my_height_cm) / 100

print("Total height in meters " , total_height_m , total_height_m1,  " meters")

Total height in meters  26.54 1.79  meters

In [114]:
print(min(1, 2, 3))

print(max(1, 2, 3))

1
3

In [117]:

print(abs(32))
print(abs(-32))

32
32

In [119]:
print(int(19.65))
print(float(10))

print(int(9.5 + 3) +6)

19
10.0
18

In [122]:

print("Setup complete! You're ready to start question 0.")

Setup complete! You're ready to start question 0.

In [134]:
# Function and lambda

import numpy as np

def deg_rad(deg):
    rad = deg * (22 / 7 / 180)
    return(rad)
  
rad_angle = deg_rad(360)

print(rad_angle)

angles = [30, 60, 90, 180, 360]

np_angels = np.array(angles)

print(deg_rad(np_angels))

# deg_rad(angles)

angles = [deg_rad(30), 60, 90, 180, 360]

print(angles)


# lambda

deg_rad_inline = lambda angle,rotate: angle/360*22/7+rotate

deg_rad_inline(30,deg_rad(360))

6.285714285714286
[0.52380952 1.04761905 1.57142857 3.14285714 6.28571429]
[0.5238095238095238, 60, 90, 180, 360]

6.5476190476190474